<header class="header">
  <a [routerLink]="'home'" class="logo"><img src="assets/icons/blink.svg" width="40px" height="40px"></a>
  <input class="side-menu" type="checkbox" id="side-menu"/>
  <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
  <nav class="nav">
    <ul class="menu">
      <li><a [routerLink]="'home'">Home</a></li>
      <li><a [routerLink]="'jokes'">Jokes</a></li>
      <li><a [routerLink]="'form'">Add joke</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
