:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 1rem 0;
  padding: 0 3rem;
}

button {
  border: 0;
  display: block;
  text-decoration: none;
  letter-spacing: 2px;
  background: var(--gray);
  color: var(--graytext);
  padding: 10px 20px;
  text-align: center;
  margin: 0 0 1rem 0;
  span {
    @media (max-width: 768px) { display: none; }
  }
  &:hover {
    background: var(--highlight);
    color: var(--text);
  }
}

div {
  padding: 0 1rem;
  span {
    @media (max-width: 430px) { display: block; }
  }
}

