div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

button {
  border: 0;
  display: block;
  text-decoration: none;
  letter-spacing: 2px;
  background: var(--gray);
  color: var(--graytext);
  padding: 10px 20px;
  text-align: center;
  margin: 0 2rem 1rem 0;

  &.off {
    background: var(--textlight);
    color: var(--gray);
  }
}

button:hover {
  background: var(--highlight);
  color: var(--text);
}
